body {
  font-family: Georgia, Times, serif;
  background-color: #E2D9EA;
  background-position: center;
  line-height: 1.4em;
  margin: 5px;
}
h1, h2, h3 {
  padding-top: 5px;
    font-weight: normal;
}
  h2 {
    margin: 10px;
    padding: 10px;
  }
  h3 {
    margin: 0px 0px 10px 0px;
    color: #47047F;
  }
img {
border: 2px solid purple;
}
p {
  padding: 5px;
  margin: 5px;
  text-align: left;
}
body {
  background-color: #E2D9EA;
  background-position: center;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 5px;}
.wrapper {
  width: 940px;
  margin: 20px;
  border: 2px solid #000000;
  background-color: #ffffff;}
header {
  height: 200px;
  background-image: url(images/jelly.jpg);
  padding: 10px;
  display: block;}
h1 {
  width: 940px;
  height: 130px;
  margin: 10px;}
nav {
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;}
footer {
  clear: both;
  color: black;
  background-color: #aeaca8;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 0px 0px 20px;
  display: block;}

.stages, .artblog {
  max-width: 240px;
}

  line-height: 200%;}
